/*
 * Colours taken from the painting of Circe, which is predominantly in brown (background), 
 * skin tones (obviously), turquoise (dress) and aqua (contents of the bowl).  Light and 
 * dark shades have been selected, to use as dominant colours for our GUI.
 */ 
.root {
	-fx-max-width: 80em;

	-fx-darkbrown: #1f1009;
	-fx-lightbrown: #5d4022;
	-fx-darkturquoise: #152826;
	-fx-lightturquoise: #0b4d3b;
	-fx-darkaqua: #105930;
	-fx-lightaqua: #37872a;

	-fx-font-family: 'Consolas';
	-fx-font-size: 18px;

	-fx-fill: -fx-lightaqua;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;

	-fx-base: #d6d9df;
	-fx-border-light: derived(-fx-base, 30%);
	-fx-border-dark: derived(-fx-base, -30%);
	-fx-background-light: derived(-fx-base, 15%);
	-fx-background-dark: derived(-fx-base, -15%);
}

.grid-pane {
	-fx-alignment: center;
	-fx-padding: 1em;
	-fx-hgap: 1em;
	-fx-vgap: 1em;
	-fx-border-style: solid inside line-join round;
	-fx-border-color: -fx-border-light -fx-border-dark -fx-border-dark -fx-border-light;
	-fx-border-width: 6;
	-fx-border-radius: 30;
	-fx-background-color: linear-gradient(to top left, -fx-background-dark, -fx-background-light), -fx-background-dark;
	-fx-background-insets: 5, 6;
	-fx-background-radius: 30, 30;
}

#VBox-buttons {
	-fx-alignment: center;
	-fx-spacing: 1em;
	-fx-border-style: solid inside line-join round, solid inside line-join round;
	-fx-border-color: -fx-border-dark -fx-border-light -fx-border-light -fx-border-dark, -fx-border-dark;
	-fx-border-width: 5, 1;
	-fx-border-radius: 15, 15;
	-fx-border-insets: 0, 4;
	-fx-background-color: linear-gradient(to top left, -fx-background-light, -fx-background-dark);
	-fx-background-insets: 5;
}

#VBox-variable {
	-fx-alignment: center;
	-fx-padding: 5px;
	-fx-spacing: 5px;
	-fx-border-style: solid inside line-join round, solid inside line-join round;
	-fx-border-color: -fx-border-dark -fx-border-light -fx-border-light -fx-border-dark, -fx-border-dark;
	-fx-border-width: 5, 1;
	-fx-border-radius: 15, 15;
	-fx-border-insets: 0, 4;
	-fx-background-color: linear-gradient(to top left, -fx-background-light, -fx-background-dark);
	-fx-background-insets: 5;
}
/*
 * CSS parameters for various elements in the LineChart
 * Removes the "legend" element
 * Puts the "title" element at the top, in WHITE with fx-lightaqua strokes at a width of 1
 * Sets a BLACK background, WHITE gridlines and tickmarks, and -fx-lightaqua text more generally
 * Also creates a rounded border at a width of 5 
 */
.chart {
	-fx-border-style: solid inside line-join round, solid inside line-join round;
	-fx-border-color: -fx-border-light -fx-border-dark -fx-border-dark -fx-border-light, -fx-border-dark;
	-fx-border-width: 5, 1;
	-fx-border-radius: 15, 15;
	-fx-background-color: BLACK;
	-fx-background-insets: 5;
	-fx-legend-visible: false;
}
.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
.default-color0.chart-series-line {
	-fx-stroke: -fx-lightaqua;
}
.default-color0.chart-line-symbol {
	-fx-background-color: -fx-lightaqua, white;
}
.chart-plot-background {
	-fx-background-color: BLACK;
}
.chart > .chart-title {
	-fx-text-fill: WHITE;
}
.chart > .chart-title > .text {
		-fx-stroke-width: 2;
		-fx-stroke: -fx-lightaqua;
}

/*
 * CSS parameters for various elements in the Button
 */
.button {
	-fx-min-width: 10em;
	-fx-max-width: 10em;
    -fx-background-color: 
        rgba(55, 135, 42, 0.5),
        rgba(0, 0, 0, 0.05),
        linear-gradient(BLACK, -fx-lightaqua),
        linear-gradient(BLACK, -fx-lightaqua),
        linear-gradient(BLACK, -fx-lightaqua);
    -fx-background-insets: 0, 8, 9, 10, 11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-text-fill: WHITE;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.1), 2, 0.0, 0, 1);
}
.button:hover {
    -fx-background-color: 
        rgba(55, 135, 42, 0.5),
        rgba(0, 0, 0, 0.05),
        linear-gradient(BLACK, -fx-lightaqua),
        linear-gradient(BLACK, -fx-lightaqua),
        linear-gradient(-fx-lightaqua, BLACK);
}
.button:pressed {
    -fx-background-insets: 0, 8, 9, 0, 11;
}

/*
 * CSS parameters for various elements in the Slider
 */
.slider {
	-fx-orientation: vertical;
	-fx-pref-height: 150px;
	-fx-show-tick-labels: true;
	-fx-show-tick-marks: true;
}
.slider > .axis {
	-fx-tick-label-fill: -fx-lightaqua;
}
.slider > .axis > .axis-tick-mark,
.slider > .axis > .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: -fx-lightaqua;
}
.thumb {
    -fx-background-color: 
        rgba(55, 135, 42, 0.5),
        rgba(0, 0, 0, 0.05),
        linear-gradient(to bottom right, BLACK, -fx-lightaqua),
        linear-gradient(to bottom right, BLACK, -fx-lightaqua),
        linear-gradient(to bottom right, BLACK, -fx-lightaqua);
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.1), 2, 0.0, 1, 0);
    -fx-background-insets: -1, 0, 1, 2, 3;
}
.thumb:hover {
    -fx-background-color: 
        rgba(55, 135, 42, 0.5),
        rgba(0, 0, 0, 0.05),
        linear-gradient(to bottom right, BLACK, -fx-lightaqua),
        linear-gradient(to bottom right, BLACK, -fx-lightaqua),
        linear-gradient(to bottom right, -fx-lightaqua, BLACK);
}
.thumb:pressed {
    -fx-background-insets: -1, 0, 1, -1, 3;
}
.track {
	-fx-background-color: 
        rgba(55, 135, 42, 0.5),
        rgba(0, 0, 0, 0.05),
        linear-gradient(to bottom right, BLACK, -fx-lightaqua),
        linear-gradient(to bottom right, BLACK, -fx-lightaqua),
        linear-gradient(to bottom right, BLACK, -fx-lightaqua);
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.1), 2, 0.0, 1, 0);
    -fx-background-insets: -1, 0, 1, 2, 3;
}

/*
 * CSS parameters for various elements in the TextField
 * Sets a BLACK background and -fx-lightaqua text more generally
 * Also creates a rounded border at a width of 5
 * Sets columns to 5 
 */
.text-field {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-border-style: solid inside line-join round, solid inside line-join round;
	-fx-border-color: -fx-border-light -fx-border-dark -fx-border-dark -fx-border-light, -fx-border-dark;
	-fx-border-width: 5, 1;
	-fx-border-radius: 15, 15;
	-fx-background-color: BLACK;
	-fx-background-insets: 5;
	-fx-text-fill: -fx-lightaqua;
	-fx-pref-column-count: 5;
	-fx-max-column-count: 5;
}

/*
 * CSS parameters for various elements in the TextField
 * Sets a BLACK background and -fx-lightaqua text more generally
 * Also creates a rounded border at a width of 5
 * Sets columns to 24 
 */
.text-area {
	-fx-background-color: transparent;
	-fx-alignment: center;
	-fx-font-size: 15px;
	-fx-text-fill: -fx-lightaqua;
	-fx-pref-column-count: 24;
	-fx-max-column-count: 24;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
	-fx-fit-to-width: true;
}
.text-area .viewport {
    -fx-background-color: transparent;
}

.text-area .content { 
	-fx-text-alignment: left;
	-fx-border-style: solid inside line-join round, solid inside line-join round;
	-fx-border-color: -fx-border-light -fx-border-dark -fx-border-dark -fx-border-light, -fx-border-dark;
	-fx-border-width: 5, 1;
	-fx-border-radius: 15, 15;
	-fx-background-color: BLACK;
	-fx-background-insets: 5;
}

/*
 * CSS parameters for a Label
 * Sets -fx-lightaqua text in bold and centre text alignment
 */
.label {
	-fx-text-alignment: center;
	-fx-font-weight: bold;
	-fx-text-fill: -fx-lightaqua;
}

/*
 * CSS parameters for the logo (currently implemented through a png file)
 */

.logo-text {
	-fx-text-alignment: center;
	-fx-font-family: 'Rollerball 1975';
	-fx-font-size: 60px;
	-fx-fill: BLACK;
    -fx-stroke-width: 3;
	-fx-stroke: -fx-lightaqua;
}
