/*
 * Colours taken from the painting of Circe, which is predominantly in brown (background), 
 * skin tones (obviously), turquoise (dress) and aqua (contents of the bowl).  Light and 
 * dark shades have been selected, to use as dominant colours for our GUI.
 */ 
.root {
	-fx-max-width: 80em;

	-fx-darkbrown: #1f1009;
	-fx-lightbrown: #5d4022;
	-fx-darkturquoise: #152826;
	-fx-lightturquoise: #0b4d3b;
	-fx-darkaqua: #105930;
	-fx-lightaqua: #37872a;

	-fx-font-family: 'Consolas';
	-fx-font-size: 18px;

	-fx-fill: #5d4022;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: #d6d9df;
	-fx-border-light: white;
	-fx-border-dark: #8e8f91;
}

.grid-pane {
	-fx-alignment: center;
	-fx-padding: 1em;
	-fx-hgap: 1em;
	-fx-vgap: 1em;
	-fx-border-color: white #8e8f91 #8e8f91 white;
	-fx-border-style: solid inside line-join round;
	-fx-border-width: 6;
	-fx-border-radius: 12;
	-fx-background-color: #d6d9df;
}

#VBox {
	-fx-alignment: center;
	-fx-spacing: 1em;
	-fx-border-color: #8e8f91 white white #8e8f91;
	-fx-border-style: solid inside line-join round;
	-fx-border-width: 4;
	-fx-border-radius: 8;
}
.chart {
	-fx-title-side: top;
	-fx-alignment: center;
	-fx-spacing: 1em;
	-fx-border-color: #8e8f91 white white #8e8f91;
	-fx-border-style: solid inside line-join round;
	-fx-border-width: 4;
	-fx-border-radius: 8;
}
.chart .chart-legend {
fx-background-color: DIMGRAY;
}

.button {
	-fx-min-width: 10em;
	-fx-max-width: 10em;
    -fx-background-color: 
        derive(-fx-lightturquoise, 25%),
        rgba(0, 0, 0, 0.05),
        linear-gradient(-fx-lightturquoise, -fx-darkturquoise),
        linear-gradient(-fx-lightturquoise, -fx-darkturquoise),
        linear-gradient(-fx-lightturquoise, -fx-darkturquoise);
    -fx-background-insets: 0, 9 9 8 9, 9, 10, 11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-text-fill: -fx-lightaqua;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.1), 2, 0.0, 0, 1);
}
.button:hover {
    -fx-background-color: 
        derive(-fx-lightturquoise, 25%),
        rgba(0, 0, 0, 0.05),
        linear-gradient(-fx-lightturquoise, -fx-darkturquoise),
        linear-gradient(-fx-lightturquoise, -fx-darkturquoise),
        linear-gradient(-fx-darkturquoise, -fx-lightturquoise);
}
.button:pressed {
    -fx-padding: 15 30 15 30;
    -fx-background-insets: 0, 9 9 8 9, 9, 0, 11;
}

.text-field {
	-fx-background-color: BLACK;
	-fx-alignment: center;
	-fx-border-color: #8e8f91 white white #8e8f91;
	-fx-border-style: solid inside line-join round;
	-fx-border-width: 4;
	-fx-background-insets: 4;
	-fx-border-radius: 8;
	-fx-text-fill: -fx-lightaqua;
	-fx-max-width: 5em;
/*
	-fx-pref-column-count: 24;
*/
	-fx-text-alignment: center;
}

.text-area {
	-fx-font-size: 15px;
	-fx-text-alignment: left;
	-fx-border-color: #8e8f91 white white #8e8f91;
	-fx-border-style: solid inside line-join round;
	-fx-border-width: 4;
	-fx-border-radius: 8;
	-fx-background-insets: 4;
	-fx-background-color: black;
	-fx-text-fill: -fx-lightaqua;
	-fx-pref-column-count: 24;
	-fx-max-column-count: 24;
/*	-fx-max-width: 5em;
*/
	-fx-alignment: CENTER;
}

.text-area .content { 
    -fx-background-color: black;
	-fx-text-alignment: center;
}

.slider {
	-fx-orientation: vertical;
	-fx-pref-height: 150px;
	-fx-show-tick-labels: true;
	-fx-show-tick-marks: true;
}
.slider:hover {
}
.slider:pressed {
}

.slider .axis-label {
-fx-font-family: 'Consolas';
}

.label {
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-text-fill: -fx-lightaqua;
}

.logo-text {
	-fx-font-family: 'Rollerball 1975';
	-fx-font-size: 4.5em;
	-fx-font-style: normal;
	-fx-font-weight: normal;
	-fx-fill: BLACK;
    -fx-stroke-width: 3;
	-fx-stroke: -fx-lightaqua;
	-fx-text-alignment: CENTER;
}
